body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
}

/* Navigation Styles */
nav {
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px;
    background-color: rgb(109, 123, 135);
    border-bottom: 1px solid rgb(167, 161, 161);
}
.logo {
    position: relative;
    padding: 10px;
    transition: all 0.3s;
}
.nav-items {
    display: flex;
    margin: 20px;   
    align-items: center; 
}
.nav-items li {
    list-style: none;
    display: flex;
}
.nav-items .active i{
    color: #55d252;
}
.nav-items li a {
    position: relative;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px 10px;
    font-size: 1.3rem;
    font-weight: 400;
    transition: all 0.3s;
}
.nav-items li a i{
    color: rgb(199, 193, 193);
    font-size: 15px;
}
.nav-items li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
}
.nav-items li a:hover::before {
    border: 1px solid white;
}

.search-items {
    flex-grow: 0;
    margin: 0px 30px;
    position: relative;
    width: 400px;
    display: flex;
    align-items: center;
}
.search-box {
    width: calc(100% - 40px); /* Adjust width for the clear search button */
    padding: 8px 30px 8px 10px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease;
}
.search-icon {
    position: absolute;
    color: #2b8094;
    top: 50%;
    right: 50px; /* Adjust right position to make space for clear search button */
    transform: translateY(-50%);
}
.cancel-search {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    padding: 5px;
    display: none;
}
.search-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.search-box:not(:placeholder-shown) + .cancel-search,
.search-box:focus + .cancel-search {
    display: inline-block;
}


.error {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 47%;
    right: 95px;
    transform: translateY(-50%);
    display: none;
}

#searchSuggestions {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 90%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

#searchSuggestions li {
    padding: 10px;
    cursor: pointer;
}

#searchSuggestions li:hover {
    background-color: #ddd;
}


.sign-in {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
.sign-in::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
}
.sign-in:hover::before {
    border: 1px solid white;
}
.sign-in .signin-text {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.sign-in .signin-text span {
    color: white;
}
.sign-in .signin-text .sign {
    font-size: 1.2rem;
}
.sign-in i {
    padding: 5px;
    color: #c0d4d8;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.menu-icon, .cancel-icon {
    display: none;
}

/* Media Queries */
@media (max-width: 1075px) {
    .logo {
        font-size: 1.4rem;
    }
    .nav-items li a {
        margin: 0;
        font-size: 1.2rem;
    }
    .search-items {
        width: 300px;
    }
}
@media (max-width: 920px) {
    nav {
        width: 100%;
        justify-content: space-evenly;
    }
    .logo {
        display: flex;
        margin-right: 65%;
    }
    .nav-items {
        display: none;
    }
    .nav-items.nav-items.active {
        position: fixed;
        display: flex;
        background-color: rgb(109, 123, 135);
        flex-direction: column;
        text-align: center;
        z-index: 99;
        top: 60px;
        right: 0px;
        margin: 0;
        height: 100vh;
    }
    .nav-items li {
        order: 2;
    }
    .nav-items li a{
        top: 30px;
    }
    .nav-items li a:hover::before {
        border: none;
    }
    .nav-items li a:hover {
        color: red;
    }
    .search-items {
        top: 20px;
        width: 300px;
        display: inline;
    }
    .search-icon{
        transform: translateY(-50%);
    }
    .menu-icon {
        position: relative;
        margin-right: 20px;
        display: block;
        color: aliceblue;
        font-size: 1.4rem;
    }
    .cancel-icon {
        position: relative;
        margin-right: 20px;
        display: none;
        color: aliceblue;
        font-size: 1.4rem;
    }
    .menu-icon:hover, .cancel-icon:hover {
        color: red;
    }
    nav .menu-icon.hide {
        display: none;
    }
    nav .cancel-icon.show {
        display: block;
    }
    .sign-in {
        justify-content: flex-end;
    }
}
@media (max-width: 720px) {
    .logo {
        margin-right: 60%;
    }
}
@media (max-width: 560px) {
    .logo {
        margin-right: 50%;
    }
}
@media (max-width: 420px) {
    .logo {
        margin-right: 40%;
    }
}
@media (max-width: 390px) {
    .logo {
        margin-right: 35%;
    }
}
@media (max-width: 350px) {
    .logo {
        margin-right: 25%;
    }
    .search-items {
        width: 40%;
        align-items: center;
    }
    .search-box {
        width: 90px;
    }
}

/* Main Content */

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    position: relative;
}

.slide img {
    aspect-ratio: 2/2;
    object-fit: cover;
    height: 400px;
    width: 100%;
    margin: 0;
    filter: brightness(30%); /* Add blur and brightness */
}
@media (max-width: 320px){
    .slide img {
        height: 200px;
    }
}

.slider-container h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
    font-size: 2.5rem; /* Adjust font size as needed */
    font-weight: bold; /* Optionally adjust font weight */
    width: 80%; /* Optionally adjust width */
    max-width: 600px; /* Optionally set maximum width */
    line-height: 1.2; /* Optionally adjust line height */
}

.dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; /* Center dots horizontally */
    transform: translateY(-30px);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/* Second Navbar Styles */
.second-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 0% 40;
    width: auto;
    z-index: 1;
}

.second-navbar i{
    color: #333;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}

.moving-text-container {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #55d252;
    margin-top: 10px;
}
@media (max-width: 320px){
    .moving-text-container {
        height: 30px;
        text-align: center;
    }
}

.moving-text {
    position: absolute;
    top: 50%;
    right: -100%; /* Start position */
    transform: translateY(-50%);
    white-space: nowrap; /* Prevent text wrapping */
    animation: moveText 30s linear infinite;
}
.moving-text a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
@media (max-width: 320px){
    .moving-text a{
    font-size: 12px;
}
}

@keyframes moveText {
    0% {
        right: -25%;
    }
    100% {
        right: 100%; /* End position */
    }
}

.moving-text-content {
    display: flex;
    align-items: center;
    color: #000;
}

.icon {
    margin-right: 10px;
}
@media (max-width: 588px){
    .second-navbar{
        height: 100px;
        position: relative;
    }
    .slider-container h1{
        font-size: 1.7rem;
    }
    .moving-text{
        position: relative;
        animation: none;
        right: 0;
        justify-content: space-around;
    }
    .moving-text-content {
        text-align: center;
        margin-left: 6%;
    }
}
@media (max-width: 320px){
    .second-navbar{
        height: 80px;
    }
    .dropbtn{
        font-size: 12px;
        margin: 0;
        padding-left: 3px;
    }
    .second-navbar i{
        font-size: 9px;
    }
}

#staff-title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #525252;
    margin-top: 50px;
}



/* Container Styles */
.principal-section {
    border-radius: 10px;
    display: flex;
    margin: 20px;
}

/* Left Section Styles */
.left-section {
    width: 30%;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.principal-photo {
    width: 80%;
    margin: 10%;
    margin-top: 40%;
    border-radius: 50%; /* To apply circular crop */
}

/* Right Section Styles */
.right-section {
    width: 70%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal-description h2 {
    margin-top: 0;
    text-align: center;
}

.principal-description p {
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
    color: #656161;
}

/* Responsive Design */
@media (max-width: 768px) {
    .principal-section {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .principal-photo {
        margin-right: 40px;
        width: 60%;
        border-radius: 50%;
    }
    .principal-description {
        margin-right: 40px;
    }
}

/* styles.css */

/* Container Styles */
.staff-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Staff Card Styles */
.staff-card {
    width: 10%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.staff-image {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 15px;
    aspect-ratio: 2/2;
    object-fit: cover;
}

.staff-name {
    margin-top: 0;
}

.job-title {
    color: #666;
    margin-bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .staff-card {
        width: 25%;
    }
}

@media (max-width: 320px) {
    .staff-card {
        width: 100%;
    }
}

/* styles.css */

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.whatsapp-icon img {
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.whatsapp-icon img:hover {
    transform: scale(1.1); /* Increase size on hover */
}

/* styles.css */

.social-icons {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 9999;
}

.social-icon {
    display: block;
    margin-bottom: 20px; /* Adjust spacing between icons */
    font-size: 24px; /* Adjust icon size */
    color: #858585; /* Adjust icon color */
}

.social-icon:hover {
    color: #007bff; /* Change color on hover */
}


/* styles.css */
.academic-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-left: 70px;
}

.section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-height: 400px;
    max-width: 100vw;
}
.syllabus-section{
    width: 70%;
    overflow-y: auto;
}
.news-section{
    width: 30%;
}
@media(max-width: 629px){
    .academic-details{
        flex-direction: column;
    }
    .syllabus-section{
        width: 100%;
    }
    .news-section{
        width: 100%;
    }
}

.section h2 {
    margin-top: 0;
}

.scrollbar {
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto;
    margin-bottom: 20px;
}
.scrollbar li{
    display: flex;
    margin-top: 0;
}
.scrollbar p{
    width: 93%;
    margin-top: 0;
}

.scrolling-news ul{
    max-height: 200px;
    overflow-y: hidden;
}
.scrolling-news a{
    color: red;
}
.scrolling-news a:hover{
    border-bottom: 1px solid red;
}
ul {
    padding: 0;
    list-style-type: none;
}
ul li{
    height: 100%;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    margin-top: 0;
}

ul li a:hover {
    color: #55d252;
}

.fa-book-open, .fa-newspaper {
    margin-right: 5px;
}
#newsSection{
    overflow-y: hidden;
}


/*footer*/
footer {
    background-color: #f0f0f0;
    padding: 20px 0;
}

/* Style for footer container */
.footer-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

/* Style for rows inside footer container */
.footer-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

/* Style for columns inside footer container */
.footer-container .row > div {
    flex: 1;
    margin: 15px; /* Adjust as needed */
}

/* Style for footer credits */
.footer-credits {
    background-color: #ddd;
    padding: 20px 0;
    text-align: center;
}

/* Style for footer credits container */
.footer-credits-container {
    display: flex;
    flex-direction: column;
}
.footer-container>*{
    flex-grow: 1;
}

/* Style for rows inside footer credits container */
.footer-credits-container .row {
    display: flex;
    justify-content: center;
}

/* Style for columns inside footer credits container */
.footer-credits-container .row > div {
    margin: 0 10px; /* Adjust as needed */
}

@media(max-width:660px){
    .footer-container .row{
        flex-direction: column;
    }
}





/*signup*/
.signup-main-content{
    
margin-inline: auto;
    width: min(100%, 1000px);
}
.signup-main-content a{
    color: #a4ffa2;
    text-decoration: none;
}
.signup-main-content a:hover{
    border-bottom: 1px solid #55d252;
}
#active-signin i{
    color: #55d252;
}
.signin-form {
    display: none; /* Hide the signin form by default */
}

.signin-container {
    margin-inline: auto;
    margin-top: 50px;
    width: min(100%, 1000px);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for the blur effect */
    backdrop-filter: blur(5px); /* Blur effect */
    text-align: center;
    width: 50%; /* Adjust the max-width as needed */
}

.signin-form {
    margin-top: 20px;
    display: none; /* Hide the forms by default */
}

.show {
    display: block; /* Show the forms when needed */
}

.signin-container form {
    text-align: left;
}

.signin-container form label {
    display: block;
    margin-bottom: 8px;
}

.signin-container form input[type="text"],
.signin-container form input[type="email"],
.signin-container form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.icon{
    width: 15%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-end-end-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: border-box;
    background-color: rgb(79, 165, 79)
}


.student-button{
    overflow-x: hidden;
    padding: 5px;
    width: 30%;
    height: 40px;
    font-weight: 600;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.admin-button{
    overflow-x: hidden;
    padding: 5px;
    width: 30%;
    height: 40px;
    font-weight: 600;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.submit-btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: rgb(79, 165, 79);
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
}
.submit-btn i{
    margin-left: 10px;
}

.submit-btn:hover {
    opacity: 1;
}